{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Paiement</h1>
        <p>Page de paiement en construction.</p>
        <!-- Ici tu mettras ton formulaire ou intégration paiement -->
    </div>
{% endblock %}
