<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background: #299b66">
    <img 
        src="http://127.0.0.1:8000/uploads/ecoameth.webp" 
        alt="logo"
        style="display:block; width:200; margin: 50px auto 20px auto"
    >
    <main style="color: #5f8575; width:60%; margin: 0 auto; padding:10px; font-size:20px; font-weight: 700">
        <p>Bonjour,vous étes sur le site ecoameth</p>
        {% block body %}{% endblock %}
        <p>A très vite</p>
        <p>{{ company }}</p>
    </main>
    
</body>
</html>