{% extends "email/base.html.twig" %}

{% block body %}

    <p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

    <a style="color:#5f8575;" href="{{ url('app_reset_password', {token: resetToken.token}) }}">
    {{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.
    expirationMessageData, 'ResetPasswordBundle') }}.</p>

{% endblock %}
